---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";

import { storyblokEditable } from "@storyblok/astro";
import { useStoryblokApi } from "@storyblok/astro";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories", {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: "blogPost",
});

const posts = data.stories.map(story => {
  return {
    title: story.content.title,
    date: new Date(story.published_at).toLocaleDateString("vi-VN", {
      dateStyle: "full",
    }),
    description: story.content.description,
    slug: story.full_slug,
  };
});
const { blok } = Astro.props;

---

<Layout title={`Posts | ${SITE.title}`}>
  <Header activeNav="posts" />
  <Main pageTitle="Guide posts" pageDesc="All the articles I've posted.">
    <ul {...storyblokEditable(blok)}>
      {
        posts.map(( data ) => (
          <Card
              href={`/posts/${data.slug}`}
              frontmatter={data}
              secHeading={false}
          />
        ))
      }
    </ul>
  </Main>

  <Footer/>
</Layout>

<style>
  .pagination-wrapper {
    @apply mt-auto mb-8 flex justify-center;
  }
  .disabled {
    @apply pointer-events-none select-none opacity-50 hover:text-skin-base group-hover:fill-skin-base;
  }
  .disabled-svg {
    @apply group-hover:!fill-skin-base;
  }
</style>
